src/main/mule/Request/Request.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
	<flow name="RequestFlow" doc:id="574c13e3-4e33-43e6-9492-8e320e2b7dbe" >
		<logger level="INFO" doc:name="Logger" doc:id="34a26468-fec8-4637-a0a3-c2700fd3f59a" message="+++ Entered Request flow +++"/>
		<set-variable value="#[payload]" doc:name="cdPayload" doc:id="36e7f425-b82a-4651-bdb5-aa66ab39a2bf" variableName="cdPayload"/>

<try doc:name="Try" doc:id="aa9d58ee-6ab8-41c6-a69e-9e7027e2a71e" >
<logger level="INFO" doc:name="Logger" doc:id="182d8dcb-4d05-4715-9e3b-aff93182543f" message="request sent" />
<until-successful maxRetries="5" doc:name="Until Successful" doc:id="f6dfbbe3-7634-402a-885f-952792aa2065" millisBetweenRetries="3000" >
<try doc:name="Try" doc:id="e9a7c5a2-9ad6-42c7-9cc7-104acb33acf7" >
<http:request method="PUT" doc:name="Request" doc:id="ee271c78-8456-4960-8a46-f42ad3d14a61" config-ref="HTTP_Request_configuration" path="/${secure::request.path}">
			<reconnect frequency="12000" count="5" />
			<http:headers><![CDATA[#[output application/java
---
{
	"sourceSys" : Mule::p('sourceSystem'),
	"systemIdentifier" : Mule::p('systemIdentifier'),
	"BuisnessObject" : vars.buisObj,
	"external_id" : vars.external_id,
	"messageIdentifier" : vars.messageIdentifier,
	"request_id" : vars.request_id,
	"client_id" : Mule::p('secure::client_id')
}]]]></http:headers>
		</http:request>
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="36bf4606-8f2e-44bf-bb13-907f8d41f284" variableName="ResponsePay"/>
					<remove-variable doc:name="Remove Error Variable" doc:id="e58d0f52-8506-4f6b-a799-c31d1f55e410" variableName="error_object" />
<error-handler >
<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue for Connectivity Faliures" doc:id="278fe2e7-180a-4e94-9d00-ff941b902c44" when='#[error.errorType.identifier != "CONNECTIVITY"]' >
<logger level="INFO" doc:name="Logger" doc:id="0a88f36b-210e-45b0-9a63-de6305ccace2" message="Not retrying since not a connectivity failure with error #[error.description] with correlation id #[correlationId]" />
<ee:transform doc:name="Create Error Variable" doc:id="99acf230-8e4a-441f-8c76-66053532c8cd" >
<ee:message />
<ee:variables >
<ee:set-variable variableName="error_object" ><![CDATA[%dw 2.0
output application/java
---
error]]></ee:set-variable>
</ee:variables>
</ee:transform>
</on-error-continue>
</error-handler>
</try>
</until-successful>
				<validation:is-true doc:id="f8480d2f-4c33-402b-95c4-f732e4b2c74d" expression="#[vars.error_object == null]" message="#[vars.error_object.detailedDescription]" doc:name="Check for errors other than connectivity errors" />
<logger level="INFO" doc:name="Logger" doc:id="f67c7069-2bbe-4f88-8182-5232194f56aa" message="response received" />
<error-handler >
<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate for other errors" doc:id="4adf89e2-00f9-4a75-b5df-06fef0c97e87" >
<logger level="ERROR" doc:name="Logger" doc:id="73e26a49-6ec0-41c2-aad9-f31d312e2d6f" message="error in flow #[flow.name] with error #[error.description] and response payload #[error.muleMessage.payload] #[vars.error_object.muleMessage.payload] with correlation id #[correlationId]" />
</on-error-propagate>
</error-handler>
</try>
		
		
		
		<set-variable value="#[payload]" doc:name="cdResponse" doc:id="c2519672-137e-4220-9ede-fe2f6614dba9" variableName="cdResponse"/>
		<logger level="INFO" doc:name="Logger" doc:id="52ca559a-1231-4b29-bc75-ad79e06b8313" message="+++ Request flow ended successfully +++"/>
		<error-handler ref="common-error-handler" />
		
	
	</flow>
</mule>
