src/main/mule/orderstatus/error-reporting.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cloudhub="http://www.mulesoft.org/schema/mule/cloudhub" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/cloudhub http://www.mulesoft.org/schema/mule/cloudhub/current/mule-cloudhub.xsd">
	<flow name="jdeuk-orders12data-to-cd" doc:id="4ca3b3f6-b24d-4cd0-b803-681bff219b8e" >
		<logger level="INFO" doc:name="Logger" doc:id="420526a2-8a4e-45a7-87c2-b5391a7313a2" message="+++ Orderstatus Response  Data received for processing to API-5 +++" />
		<ee:transform doc:name="Order Status Data fields sending to CD JSON Data" doc:id="12f407b2-4b94-49d8-97a5-a50cfef48c71">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.Orders.*Order]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="buisObj"><![CDATA[%dw 2.0
output application/java
---
"OrderData"]]></ee:set-variable>
				<ee:set-variable variableName="vError"><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Setup Order, Sequence,external_id Variables" doc:id="e77e4989-74e8-44ed-a9aa-17b20616c0c7">
					<ee:message >
			</ee:message>
					<ee:variables>
						<ee:set-variable variableName="buisObj"><![CDATA[%dw 2.0
output application/java
---
"OrderData"]]></ee:set-variable>
						<ee:set-variable variableName="request_id"><![CDATA[%dw 2.0
output application/java
---
payload.SequenceNumber]]></ee:set-variable>
						<ee:set-variable variableName="sourceSys"><![CDATA[p('sourceSystem')]]></ee:set-variable>
						<ee:set-variable variableName="external_Id"><![CDATA[%dw 2.0
output application/java
---
payload.CDOrderNumber
]]></ee:set-variable>
						<ee:set-variable variableName="sequence_num"><![CDATA[%dw 2.0
output application/java
---
payload.SequenceNumber[0]]]></ee:set-variable>
						<ee:set-variable variableName="order_id"><![CDATA[%dw 2.0
output application/json
---
payload.CDOrderNumber]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<choice doc:name="Choice" doc:id="d6e2790c-3f70-4a97-b82a-81e9cb9afb79" >
			<when expression="(payload.RecordProcessed == 'E') and (payload.HoldCode == 'A3')">
				<logger level="INFO" doc:name="Logger" doc:id="04d97dd8-4dc1-4cc5-82a6-68c28219fb49" />
				<ee:transform doc:name="Orde_Line_Numbers" doc:id="1b539612-e220-4fe0-bf43-f301e8e620f5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
{
id: uuid(), 
external_id:payload.CDUIDHeader,
status :'requested',
errorResponse : if (payload.MessageResponseDesc != null ) payload.MessageResponse ++ ","++ payload.MessageResponseDesc ++ "," ++ payload.OrderLineNo else payload.RecordProcessed
		
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<when expression="(payload.RecordProcessed == 'E') and (payload.HoldCode == 'A1')">
				<ee:transform doc:name="Orde_Line_Numbers" doc:id="73440304-1ea7-49a6-851e-021651dcfbbf" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
{
id: uuid(), 
external_id:payload.CDUIDHeader,
status :'requested',
errorResponse : if (payload.MessageResponseDesc != null ) payload.MessageResponse ++ ","++ payload.MessageResponseDesc ++ "," ++ payload.OrderLineNo else payload.RecordProcessed
		
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<when expression="payload.RecordProcessed == 'E'">
				<logger level="INFO" doc:name="Logger" doc:id="140af349-6ba5-4163-915d-fdef1d0d808e" />
				<ee:transform doc:name="Orde_Line_Numbers" doc:id="72efa66e-c886-4718-9e5c-eb0e49e4f714" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
{
id:payload.CDUIDHeader, 
external_id:payload.CDOrderNumber,
status :'requested',
errorResponse : payload.OrderLineNo ++ payload.CDUIDDetail ++ payload.MessageResponse
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="26a43678-113f-4304-9970-7852f03fdfbd" message='+++ "Status response of record processed will be no error items: +++'/>
				<ee:transform doc:name="Orde_Line_Numbers" doc:id="eda302d3-27d8-4854-9758-7d8ec140cc03" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json 
---
{
id:payload.CDUIDHeader, 
external_id:payload.CDOrderNumber,
status :'unconfirmed',
errorResponse : payload.OrderLineNo ++ payload.CDUIDDetail ++ payload.MessageResponse
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="5bda2487-ff1f-4670-85e1-c090e6dac06e" message="+++ All Order Line numbes respones Data successfully submitted.  +++" />
<!-- 			<flow-ref doc:name="Jobsite master" doc:id="989e1908-87b6-40a0-a729-d3338897ef89" name="jdeuk-jobsitedata-to-cd" /> -->
		<logger level="INFO" doc:name="Logger" doc:id="3729d361-5fa9-43a0-8550-1a5825f81f2f" message="+++ Order status Data :: Request_Id - #[vars.request_id], orderid-#[vars.order_id] successfully submitted +++" />
		<ee:transform doc:name="Transform Message" doc:id="06af7c01-7953-4916-a552-51a810ceedff" >
			<ee:message >
				<ee:set-payload ><![CDATA[vars.vOresponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5ebfcd8b-32d9-46bf-87b5-cfe4b4cda03c" message="+++ Transformed Order Response Master ---- #[vars.vOresponse] +++" />
<!-- 		<error-handler ref="common-error-handler" /> -->
			
	
		
	</flow>
</mule>
